<!DOCTYPE html>
<html>
<head>
  <title>SymbolLibrary</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1">
</head>
<body>

<!--
  Assist screen reader users by allowing bypassing of navigation section
    http://www.onevoiceict.org/tools/tools/seven-steps/add-jump-content-link
-->
<a href="#content" class="sr-only">jump to content</a>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Symbol Library Sharing</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "About this site", root_path %></li>
      <li><%= link_to "Library downloads", torrents_path %></li>
    </ul>
  </div>
</nav>

<!-- jump link for bypassing navigation (above) -->
<a id="content"></a>

<div id="wrap">
  <div class="container">
<%= yield %>
  </div>
</div>

<footer id="footer">
  <div class="container">
    <hr/>
    <p class="text-muted">
      This site is licensed under the
      <a href="http://www.gnu.org/licenses/agpl.html">AGPL v3</a> |
      <a href="https://github.com/timabell/symbol-library">Source on github</a>
    </p>
  </div>
</footer>
</body>
</html>
